{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>dishi</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.min.css" />
    <link rel="stylesheet" href="{% static 'font/fonts.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/flick/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/tag-it.css' %}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
    <header class="header">
    <!--mobile menu-->
    <div class="title-bar" data-hide-for="medium" data-responsive-toggle=
    "example-menu">
        <button class="menu-icon" data-toggle="" type="button"></button>
        <div class="title-bar-title">
            Menu
        </div>
        <div class="title-bar-right">
            <a class="add-item" data-toggle="addItemModal"><i class=
            "fa fa-pencil-square fa-lg"></i></a> <a class=
            "search-item"><i class="fa fa-search fa-lg"></i></a>
        </div>
    </div>
    <!--   Visible menu        -->
    <div class="top-bar" id="example-menu">
        <div class="top-bar-left">
            <ul class="dropdown vertical medium-horizontal menu"
            data-dropdown-menu="">
                <li class="menu-text">DISHI
                </li>
                <li>
                    <a href="#">Order</a>
                </li>
                <li>
                    <a href="testfile.html">Discover</a>
                </li>
                <li>
                    <a href="#">Kitchens</a>
                </li>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li>
                    <a class="search-item is-mobile" href="#"><i class=
                    "fa fa-search fa-lg"></i></a>
                </li>
                <li>
                    <a class="add-item is-mobile" data-open=
                    "addItemModal"><i class=
                    "fa fa-pencil-square fa-lg"></i></a>
                </li>
                <li class="btn">
                    <a class="button inv" data-toggle="inviteModal">Invite</a>
                </li>
            </ul>
        </div>
    </div>
</header>
{% block content %}

{% endblock %}

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" charset="utf-8"></script>
<script type="text/javascript" src="{% static 'js/tag-it.js' %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "foundation/js/vendor/what-input.min.js" %}"></script>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>
