{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dishi</title>

   <link rel="stylesheet" type="text/css" href="css/normalize.css">
   <link rel="stylesheet" href="slider/vegas.min.css">
   <link rel="stylesheet" href="foundation/foundation-icons/foundation-icons.css" />
   <link rel="stylesheet" href="foundation/css/foundation.min.css">
   <link rel="stylesheet" type="text/css" href="css/styles.css">
   <link rel="stylesheet" href="font/fonts.css">
   <link rel="stylesheet" href="foundation/css/app.css">

</head>
<body>

{% block content %}

{% endblock %}

</body>
</html>
