{% extends "base.html" %}
{% block content %}

<div class="row-fluid main">
    {% if not chef %}
       <h3>Under construction</h3>
    {% else %}
    <!--Add item modal-->
    <div class="reveal" data-animation-in="fade-in" data-animation-out=
    "fade-out" data-close-on-click="true" data-reveal="" id="addItemModal">
        <!--modal content goes here-->
        <div class="add-item-links">
            <ul>
                <li class="addDish">
                    <div class="modalIcon">
                        <img src="img/icons/dishicon.png" width="80"><br>
                        <p>Add a Dish</p>
                    </div>
                </li>
                <li class="addRecipe">
                    <div class="modalIcon">
                        <i class="fa fa-cutlery fa-4x"></i><br>
                        <p>Add a Recipe</p>
                    </div>
                </li>
                <li class="addPost">
                    <div class="modalIcon">
                        <i class="fa fa-paper-plane-o fa-4x"></i><br>
                        <p>Add a post</p>
                    </div>
                </li>
            </ul>
        </div><!--Forms content -->
        <div class="form-addItem-holder">
            <div class="add form-addDish">
                <h4>Add Dish</h4>
                <form class="form-h dish-form">
                    <div class="form-closeIcon">
                        <i class="fa fa-times fa-1x"></i>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <input placeholder="Dish name" type="text">
                            <input placeholder="Description" type="text">
                            <label class="text-right middle" for=
                            "middle-label">Price <input type="number"></label>
                            <label class="text-right middle" for=
                            "middle-label">Plates available <input type=
                            "number" value="0"></label>
                            <textarea placeholder="Ingredients"></textarea>
                            <label class="button" for="exampleFileUpload">Add
                            photo of dish</label> <input class="show-for-sr"
                            id="exampleFileUpload" type="file">
                        </div>
                        <div class="medium-6 columns">
                            <button class="button" type="submit">Add to
                            menu</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="add form-addRecipe">
                <h4>Add Recipe</h4>
                <form class="form-h recipe-form">
                    <div class="form-closeIcon">
                        <i class="fa fa-times fa-1x"></i>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <textarea placeholder="Recipe name"></textarea>
                            <textarea placeholder="Description" rows=
                            "2"></textarea>
                            <textarea placeholder="Ingredients" rows=
                            "2"></textarea>
                            <textarea placeholder="How to prepare"></textarea>
                            <textarea placeholder="About Recipe"></textarea>
                            <label class="button" for="exampleFileUpload">Add
                            photo of dish</label> <input class="show-for-sr"
                            id="exampleFileUpload" type="file">
                        </div>
                        <div class="medium-6 columns end">
                            <button class="button" type="submit">Add to
                            recipes</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="add form-addPost">
                <h4>New post</h4>
                <form class="form-h post-form">
                    <div class="form-closeIcon">
                        <i class="fa fa-times fa-1x"></i>
                    </div>
                    <div class="row">
                        <div class="medium-12 columns">
                            <textarea placeholder="What's cooking" rows=
                            "5"></textarea>
                            <div class="medium-6 columns">
                                <label class="button" for=
                                "exampleFileUpload">Add photo of dish</label>
                                <input class="show-for-sr" id=
                                "exampleFileUpload" type="file">
                            </div>
                            <div class="medium-6 columns">
                                <button class="button" type=
                                "submit">Share</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div><button aria-label="Close reveal" class="close-button"
        data-close="" type="button"><span aria-hidden=
        "true">&times;</span></button>
    </div>
    <div class="reveal" data-animation-in="fade-in" data-animation-out=
    "fade-out" data-close-on-click="true" data-reveal="" id="inviteModal">
        <input placeholder="Enter email" type="email"> <button aria-label=
        "Close reveal" class="close-button" data-close="" type=
        "button"><span aria-hidden="true">&times;</span></button>
    </div><!--===== Banner ======-->
    <section id="kitchen__banner">
        <div class="image-banner holder"><img class="banner" src=
        "img/kitchen-banner1.jpg"></div>
    </section>
    <section id="kitchen__menu">
        <div class="row">
            <div class="large-12 small-12 medium-12 columns">
                <div class="small-2 medium-1 large-3 columns">
                    <div id="kitchen__logo"><img src=
                    "img/kitchen-logo.jpg"></div>
                </div>
                <div class="small-12 medium-11 large-9 columns" id=
                "kitchen_menu_list">
                    <nav class="k-inner__nav">
                        <ul class="tabs" data-tabs="" id="example-tabs">
                            <li class="tabs-title is-active">
                                <a aria-selected="true" class=
                                "k-Fmenuinner_item" href="#dishes"><span class=
                                "k-link">Dishes <span class="badge" id=
                                "messageCount">6</span></span><br></a>
                            </li>
                            <li class="tabs-title">
                                <a class="k-inner_item" href=
                                "#recipes"><span class=
                                "k-link">Recipes<span class="badge" id=
                                "messageCount">5</span></span><br>
                                <!--<span class="k-link-value">5</span>--></a>
                            </li>
                            <li class="tabs-title">
                                <a class="k-inner_item" href=
                                "#conversations"><span class=
                                "k-link">Conversations<span class="badge" id=
                                "messageCount">5</span></span><br>
                                <!--<span class="k-link-value">10</span>--></a>
                            </li>
                            <li class="tabs-title">
                                <a class="k-inner_item" href=
                                "#followers"><span class=
                                "k-link">Watchers<span class="badge" id=
                                "messageCount">19</span></span><br>
                                <!--  <span class="k-link-value">14</span>--></a>
                            </li>
                            <li class="tabs-title">
                                <a class="k-inner_item" href=
                                "#testimonials"><span class=
                                "k-link">Testimonials<span class="badge" id=
                                "messageCount">19</span></span><br></a>
                            </li>
                        </ul>
                    </nav>
                </div><!--menu-list end-->
            </div>
        </div><!--row end-->
    </section>
    <section id="mobile-about">
        <div class="row">
            <div class="small-12 columns">
                <div class="kitchen-about mobile">
                    <h5>{{ kitchen.kitchen_name }}</h5>
                    <h6>{{ kitchen_type }}</h6>
                    <p>{{ kitchen.about_kitchen }}</p>
                    <div class="kitchen-data follow">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="kitchen-contents">
        <div class="row">
            <div class="small-3 medium-4 large-3 columns styled-grid">
                <div class="kitchen-about">
                    <h5>{{ kitchen.kitchen_name }}</h5>
                    <h6>{{ kitchen_type }}</h6>
                    {{ kitchen.about_kitchen }}
                    <div class="kitchen-data follow">
{#                        {{ followers }}#}
                    {{ is_owner }}
                        {% if user in followers %}

                                <a class=" button" href="{% url "dishi_chef:kitchen:un_follow" chef.username %}">
                                    <span class="icon">
                                        <i class="fa fa-minus"></i>
                                    </span>
                                    <span class="icon-text">Un Follow</span>
                                </a>
                            {% else %}
                                <a class=" button" href="{% url "dishi_chef:kitchen:follow" chef.username %}">
                                    <span class="icon">
                                    <i class="fa fa-plus"></i>
                                    </span>
                                    <span class="icon-text">Follow</span>
                                 </a>
                        {% endif %}
                    </div>
                    <div class="kitchen-data">
                        <span class="icon"><i class=
                        "fa fa-cutlery fa-lg"></i></span> <span class=
                        "icon-text testimonials">Services</span>
                    </div>
                    <div class="kitchen-data">
                        <span class="icon"><i class=
                        "fa fa-truck fa-lg"></i></span> <span class=
                        "icon-text testimonials">Delivery Areas</span>
                    </div>
                    <div class="kitchen-data">
                        <!--website-->
                        <span class="icon"><i class=
                        "fa fa-link fa-lg"></i></span> <a href="#"><span class=
                        "icon-text testimonials">website</span></a>
                    </div>
                    <div class="contact-btn">
                        <span class="icon"><i class=
                        "fa fa-phone fa-lg"></i></span> <span class=
                        "icon-text contacts"><i>0722 421 999</i>,<i>0734 982
                        115</i></span>
                    </div>
                </div>
            </div>
            <div class="small-9 medium-8 large-9 columns">
                <div class="expanded row" id="row">
                    <div class="large-12 columns">
                        <div class="tabs-content" data-tabs-content=
                        "example-tabs">
                            <div class="tabs-panel is-active" id="dishes">
                                <ul class="kitchen-card-list" id="container">

                                {% if dishes %}
                                    {% for dish in dishes  %}
                                        <li>
                                        <div class="card-kitchen">
                                            <a href="{% url  "dishi_chef:kitchen:edit_menu" chef.username dish.pk %}">edit</a>
                                            <br>
                                            <div class="card-dishPicture">
                                                <figure>
                                                    <img alt="Dish" src="img/recipe5.jpg">
                                                    <figcaption>
                                                        <p><strong>{{ dish.cost }}</strong></p>
                                                    </figcaption>
                                                </figure>
                                            </div>
                                            <div class=
                                            "card-dishContent card-contentPadding">
                                            <i></i>
                                                <h5 class=
                                                "card-contentHeading">
                                                <i><strong>{{ dish.title }}
                                                rolls</strong></i></h5>
                                                <p><i>{{ dish.description }}</i></p>
                                                <p class="plates-order">Plates
                                                remaining: {{ dish.remaining_plates }}/{{ dish.plates }}</p><a class=
                                                "button plates-order" href=
                                                "#">Order now</a>
                                            </div>
                                            <hr>
                                            <div class="card-chefDetails">
                                                <div class="card-chefImage">
                                                </div><span class=
                                                "card-chefLink"><a href="#">
                                                <h5><span class=
                                                "card-chefLink">By Chef: {{ chef.username }}
                                                </span></h5></a></span>
                                            </div>
                                            <div class="card-dishRatings">
                                                <div class=
                                                "ratings card-likes">
                                                    <a href="#"><i class="fa fa-heart-o">
                                                        </i><span class="likes-counter counter">{{ dish.likes.like }}</span>
                                                    </a>
                                                </div>
                                                <div class=
                                                "ratings card-comments">
                                                    <a href="#"><i class=
                                                    "fa fa-comment-o"></i><span class="comments-counter counter">300</span></a>
                                                </div>
                                                <div class=
                                                "ratings card-orders">
                                                    <a href="#"><i class=
                                                    "fa fa-bookmark-o"></i><span class="dishes-counter counter">300</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                {% else %}
                                    <h2> no menus added yet</h2>
                                {% endif %}
                                </ul>

                            </div>

                            <div class="tabs-panel" id="recipes">
                                <ul class="kitchen-card-list" id="container">
                                    <li class="kitchen-card-item">
                                        {% if recipes %}
                                            {% for recipe in recipes %}
                                            <div class="card-kitchen">
                                            <div class="card-dishPicture">
                                                <a href="{% url  "dishi_chef:kitchen:edit_recipe" chef.username dish.pk %}"></a>
                                                <figure>
                                                    <img alt="Dish" src=
                                                    "img/recipe.jpg">
                                                    <!--<figcaption>
                                                            <p><strong>Ksh 200</strong></p>
                                                        </figcaption>-->
                                                </figure>
                                                <div class=
                                                "card-recipeDetails">
                                                    <figcaption class=
                                                    "recipeDescription">
                                                        <i></i>
                                                        <h5 class=
                                                        "card-contentHeading">
                                                        <i><strong>{{ recipe.title }}
                                                        pie</strong></i></h5>
                                                        <p><i>{{ recipe.description }}</i></p>
                                                    </figcaption>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="card-chefDetails">
                                                <div class="card-chefImage">
                                                </div><span class=
                                                "card-chefLink"><a href="#">
                                                <h5><span class=
                                                "card-chefLink">By: Chef
                                                {{ chef.username }}</span></h5></a></span>
                                            </div>
                                            <div class="card-dishRatings">
                                                <div class=
                                                "ratings card-likes">
                                                    <a href="#"><i class=
                                                    "fa fa-heart-o"></i><span class="likes-counter counter">121</span></a>
                                                </div>
                                                <div class=
                                                "ratings card-comments">
                                                    <a href="#"><i class=
                                                    "fa fa-comment-o"></i><span class="comments-counter counter">78</span></a>
                                                </div>
                                                <div class=
                                                "ratings card-orders">
                                                    <a href="#"><i class=
                                                    "fa fa-bookmark-o"></i><span class="dishes-counter counter">68</span></a>
                                                </div>
                                            </div>
                                        </div>
                                            {% endfor %}
                                        {% else %}
                                            <h4>no recipes at the moment</h4>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <div class="tabs-panel" id="conversations">
                                <ul class="kitchen-card-list" id="container">
                                    <li>
                                      {% if conversations %}

                                          {% for conversation in conversations %}
                                            <div class="card-kitchen">
                                            <div class="card-dishPicture">
                                                <figure>
                                                    <img alt="Dish" src=
                                                    "img/recipe.jpg">
                                                    <!--<figcaption> remake with absolte positioning
                                                        <p><strong>Ksh 200</strong></p>
                                                    </figcaption>-->
                                                </figure>
                                            </div>
                                            <div class=
                                            "card-conversatoinContent card-contentPadding">
                                            <i></i>
                                                <p><i>{{ conversation.post }}</i></p>
                                            </div>
                                            <hr>
                                            <div class="card-chefDetails">
                                                <div class="card-chefImage">
                                                </div><span class=
                                                "card-chefLink"><a href="#">
                                                <h5><span class=
                                                "card-chefLink">By: Chef
                                                Amanda</span></h5></a></span>
                                            </div>
                                            <div class="card-dishRatings">
                                                <div class=
                                                "ratings card-likes">
                                                    <a href="#"><i class=
                                                    "fa fa-heart-o"></i><span class="likes-counter counter">70</span></a>
                                                </div>
                                                <div class=
                                                "ratings card-comments">
                                                    <a href="#"><i class=
                                                    "fa fa-comment-o"></i><span class="comments-counter counter">46</span></a>
                                                </div>
                                            </div>
                                        </div>
                                          {% endfor %}

                                      {% else %}
                                      {% endif %}
                                    </li>
                                </ul>
                            </div>
                            <div class="tabs-panel" id="followers">
                                <ul class="kitchen-card-list watch-list" id=
                                "container">
                                    <li class="kitchen-card-item watch-list">
                                        <div class="watcher-pictureHolder">
                                            <div class="watcher-picture"></div>
                                        </div>
                                        <div class="watcher-nameHolder">
                                            <div class="watcher-name">
                                                <p>David Mosie</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tabs-panel" id="testimonials">
                                <ul class="kitchen-card-list" id="container">
                                    <li class="kitchen-card-item">
                                        <div class="card-kitchen">
                                            <div class="card-kitchenName">
                                                <div class="card-kitchenImage">
                                                </div><span class=
                                                "card-kitchenImageDetails"><a class="card-kitchen-link"
                                                href="#">
                                                <h6 class="details">
                                                <span class="card-kitchenImageDetails">
                                                <strong>Amanda's
                                                Kitchen</strong></span></h6></a></span>
                                                <p class="details"><span class=
                                                "card-kitchenImageDetails">Food
                                                made with love</span></p>
                                            </div>
                                            <div class=
                                            "card-testimonialContent card-contentPadding">
                                            <i></i>
                                                <p><i>This kitchen makes one of
                                                the tastiest cakes, I love
                                                it!!</i></p>
                                            </div>
                                            <hr>
                                            <div class="card-dishRatings">
                                                <div class=
                                                "ratings card-likes">
                                                    <a href="#"><i class=
                                                    "fa fa-heart-o"></i><span class="likes-counter counter">132</span></a>
                                                </div>
                                                <div class=
                                                "ratings card-comments">
                                                    <a href="#"><i class=
                                                    "fa fa-comment-o"></i><span class="comments-counter counter">113</span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!--tabs content holder-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    {% endif %}
{% endblock %}