{% extends "base.html" %}
{% block content %}
    <div class="row main">
      <!-------Top level navigation------->
      <header class="header">
          <!--mobile menu-->
          <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
            <button class="menu-icon" type="button" data-toggle></button>
                <div class="title-bar-title">Menu</div>
              <div class="title-bar-right">
                <a class="add-item" href="#animatedModal"><i class="fa fa-pencil-square fa-2x"></i></a>
                <a class="search-item"><i class="fa fa-search fa-2x"></i></a>
              </div>
          </div>
        <!--   Visible menu        -->
          <div class="top-bar" id="example-menu">
              <div class="top-bar-left">
                <ul class="dropdown vertical medium-horizontal menu" data-dropdown-menu>
                  <li class="menu-text">
                      DISHI
                  </li>
                  <li>
                    <a href="#">Recommended</a>
                  </li>
                  <li><a href="#">Chefs</a></li>
                  <li><a href="#">Kitchens</a></li>
                </ul>
              </div>
              <div class="top-bar-right">
                <ul class="menu">
                  <li><a class="search-item" href="#"><i class="fa fa-search fa-lg"></i></a></li>
                  <li><a class="add-item" href="#animatedModal"><i class="fa fa-pencil-square fa-2x"></i></a></li>
                  <li class="btn"><a class="button inv" href="#">Invite</a></li>
                </ul>
              </div>
          </div>
      </header>
      <!--modal-->
        <div id="animatedModal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID  class="close-animatedModal" -->
            <div class="row">
                <div id="btn-close-modal"class="close-animatedModal">
                    <i class="fa fa-times fa-lg">close</i>
                </div>
            </div>
        <div class="modal-content">
                  <!--Your modal content goes here-->
          <div class="row">
            <div class="small-12 columns">
                <div class="small-4 columns">
                    <div class="modalIcon">
                        <i class="fa fa-paper-plane-o fa-4x"></i><br><p>Add Menu</p>
                    </div>
                </div>
                <div class="small-4 columns">
                    <div class="modalIcon">
                        <i class="fa fa-paper-plane-o fa-4x"></i><br><p>Add recipe</p>
                    </div>
                </div>
                <div class="small-4 columns">
                    <div class="modalIcon">
                        <i class="fa fa-paper-plane-o fa-4x"></i><br><p>Post to community</p>
                    </div>
                </div>
            </div>
      </div>
        </div>
        </div>
      <!------- Banner -------->
      <section id="kitchen__banner">
          <div class="image-banner holder">
            <img class="banner" src="img/kitchen-banner1.jpg">

          </div>
      </section>
      <section id="kitchen__menu">
          <div class="row">
            <div class="large-12 small-12 medium-12 columns">
              <div class="small-2 medium-2 large-2 columns">
                    <div id="kitchen__logo">
                        <img src="img/kitchen-logo.jpg"/>
                  </div>
                </div>
              <div id="kitchen_menu_list" class="small-10 medium-10 large-10  columns">
                  <nav class="k-inner__nav">
                    <ul class="tabs" data-tabs id="example-tabs">
                        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true" class="k-Fmenuinner_item">
                            <span class="k-link">Dishes <span class="badge" id="messageCount">6</span></span><br>

                            </a></li>
                        <li class="tabs-title"><a href="#panel2" class="k-inner_item">
                            <span class="k-link">Recipes <span class="badge" id="messageCount">5</span></span><br>
                            <!--<span class="k-link-value">5</span>-->
                            </a></li>
                        <li class="tabs-title"><a href="#panel3" class="k-inner_item">
                            <span class="k-link">Conversations <span class="badge" id="messageCount">5</span></span><br>
                            <!--<span class="k-link-value">10</span>-->
                            </a></li>
                        <li class="tabs-title"><a href="#panel4" class="k-inner_item">
                                <span class="k-link">Watchers <span class="badge" id="messageCount">19</span></span><br>
                          <!--  <span class="k-link-value">14</span>-->
                            </a></li>
                        <li class="tabs-title"><a href="#panel5" class="k-inner_item">
                            <span class="k-link">Testimonials <span class="badge" id="messageCount">19</span></span><br>

                            </a></li>

                      </ul>

                  </nav>

            </div><!--menu-list end-->
          </div>
        </div><!--row end-->

      </section>
      <section id="kitchen-contents">
        <div class="row">
            <div class="small-3 medium-3 large-3 columns styled-grid">
                <div class="kitchen-about">
                    <h3>Amanda's Kitchen</h3>
                    <h4>Bakery</h4>
                    <p>Amanda's kitchen is a bakery store. Find the best cakes in Nairobi.</p>
                    <div class="kitchen-data follow">
                        <a href="#" class=" button">
                            <span class="icon"><i class="fa fa-plus"></i></span>
                            <span class="icon-text ">Follow</span>
                        </a>
                    </div>
                    <div class="kitchen-data">
                        <span class="icon"><i class="fa fa-cutlery fa-lg"></i></span>
                        <span class="icon-text testimonials">Services</span>
                    </div>
                    <div class="kitchen-data">
                        <span class="icon"><i class="fa fa-truck fa-lg"></i></span>
                        <span class="icon-text testimonials">Delivery Areas</span>
                    </div>
                    <div class="kitchen-data">
                        <span class="icon"><i class="fa fa-usd fa-lg"></i></span>
                        <span class="icon-text testimonials">Sales</span>
                    </div>
                    <div class="kitchen-data"><!--settings-->
                        <span class="icon"><i class="fa fa-cog fa-lg"></i></span>
                        <span class="icon-text testimonials">Settings</span>
                    </div>
                    <div class="kitchen-data"><!--website-->
                        <span class="icon"><i class="fa fa-link fa-lg"></i></span>
                        <a href="#"><span class="icon-text testimonials">website</span></a>
                    </div>

                    <div class="contact-btn">
                        <span class="icon"><i class="fa fa-phone fa-lg"></i></span>
                        <span class="icon-text contacts">django_here, django_here</span>
                        <span class="icon-text contacts">django_here</span>

                    </div>
                </div>
            </div>
            <div class="small-9 medium-9 large-9 columns">
                <div class="expanded row" id="row">
                   <div class="large-12 columns">
                     <div class="tabs-content" data-tabs-content="example-tabs">
                            <div class="tabs-panel is-active" id="panel1">
                                <!--<div class="row">-->
                                    <!--<div id="kitchen_content" class="small-12 medium-12 large-12 columns">-->
                                    <!--<div class="large-12 columns">-->
                                     <ul id="container" class="kitchen-card-list">
                                        <li class="kitchen-card-item">
                                            <div id="card1" class="card">
                                                <div class="menu-pic"><img src="img/recipe.jpg"/>Photo</div>
                                                <div class="item menu-title ">Muffins<br></div>
                                                <div class="item description">
                                                    <p>Chococalte chipped muffins with nuts</p>
                                                </div>
                                               <!-- <div class="price">Ksh. 200</div>-->
                                                <div class="item order-detail">
                                                    <h3>django here</h3>
                                                    <a href="#" class="order button">Order</a>
                                                </div>
                                            </div></li>
                                        <li>
                                            <div id="card2" class="card">
                                                <div class="menu-pic"><img src="img/recipe1.jpg"/></div>
                                                <div class="menu-details">Chocolate cake<br></div>
                                            </div>
                                         </li>
                                         <li>
                                            <div id="card1" class="card">
                                                <div class="menu-pic"><img src="img/recipe.jpg"/></div>
                                                <div class="menu-details">Muffins<br></div>
                                            </div>
                                         </li>
                                         <li>
                                            <div id="card2" class="card">
                                                <div class="menu-pic"><img src="img/recipe1.jpg"/></div>
                                                <div class="menu-details">Chocolate cake<br></div>
                                            </div>
                                         </li>
                                         <li>
                                            <div id="card3" class="card">
                                                <div class="menu-pic"><img src="img/recipe3.jpg"/></div>
                                                <div class="menu-details">Cheese cake<br></div>
                                            </div>
                                         </li>
                                     </ul>
                                        <!--<div id="card4" class="small-6 medium-4 large-4 columns card">
                                            <div class="menu-pic"><img src="img/recipe4.jpg"/></div>
                                            <div class="menu-details">Menu details<br></div>
                                        </div>-->
                     <!--</div>-->
                                     <!--</div>--> <!---kitchen content end ---->
                                <!--</div> -->
                            </div>
                        <div class="tabs-panel" id="panel2">
                          <p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>
                        </div>
                        <div class="tabs-panel" id="panel3">
                          <p>All your conversations will appear here</p>
                        </div>
                        <div class="tabs-panel" id="panel4">
                          <p>Start cooking and sharing your dishes to get more followers!</p>
                        </div>
                        <div class="tabs-panel" id="panel5">
                          <p>People who love your food are likely to support you.</p>
                        </div>

                        </div><!--tabs content holder-->
                   </div>
                </div>
            </div>
        </div>
      </section>
    </div>
{% endblock %}
{#{% extends "base.html" %}#}
{#{% block content %}#}
{#    {% if not chef %}#}
{##}
{#    {% else %}#}
{#        <header class="header">#}
{#          <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">#}
{#            <button class="menu-icon" type="button" data-toggle></button>#}
{#                <div class="title-bar-title">Menu</div>#}
{#              <div class="title-bar-right">#}
{#                <a class="add-item" href={% url "kitchen:menu" chef.username %}><span class="fa fa-pencil-square fa-2x"></span></a>#}
{#                <a class="add-item"><i class="fa fa-search fa-2x"></i></a>#}
{#              </div>#}
{#          </div>#}
{#          <div class="top-bar" id="example-menu">#}
{#              <div class="top-bar-left">#}
{#                <ul class="dropdown menu" data-dropdown-menu>#}
{#                  <li class="menu-text">DISHI</li>#}
{#                  <li>#}
{#                    <a href="#">One</a>#}
{#                    <ul class="menu vertical">#}
{#                      <li><a href="#">One</a></li>#}
{#                      <li><a href="#">Two</a></li>#}
{#                      <li><a href="#">Three</a></li>#}
{#                    </ul>#}
{#                  </li>#}
{#                  <li><a href="#">Two</a></li>#}
{#                  <li><a href="#">Three</a></li>#}
{#                </ul>#}
{#              </div>#}
{#              <div class="top-bar-right">#}
{#                <ul class="menu">#}
{#                    <li class="btn"><a class="button" href="#">Invite</a></li>#}
{#                  <li><a class="add-item" href={% url "kitchen:menu" chef.username %}><i class="fa fa-pencil-square fa-2x"></i></a></li>#}
{#                  <li><a class="add-item"><i class="fa fa-search fa-2x"></i></a></li>#}
{#                </ul>#}
{#              </div>#}
{#          </div>#}
{#      </header>#}
{##}
{#      <!------- Banner -------->#}
{#      <section id="kitchen__banner">#}
{#          <div class="image-banner holder">#}
{#            <img class="banner" src="img/dive-slide11.jpg">#}
{#<!--#}
{#              <div class="row">#}
{#                <div class="small-12 columns">#}
{#                    <div class="small-3 columns">BANNER TEXT</div>needs review#}
{#                </div>#}
{#              </div>#}
{#-->#}
{#          </div>#}
{##}
{#          <div class="kitchen__details detail"><!--needs review-->#}
{#              <div class="row">#}
{#                  <h3>{{ kitchen.kitchen_name }} </h3>#}
{#                  <h4>{{ k_t }}</h4>#}
{#              </div>#}
{#          </div>#}
{#      </section>#}
{##}
{##}
{#    <!------- Kitchen Details-------->#}
{#      <!-- Kitchen Menu -->#}
{#      <section id="kitchen__menu">#}
{#          <!-- The Logo/Photo -->#}
{#          <div class="expanded row">#}
{#              <div class="small-12 medium-12 large-2 columns">#}
{#                  <div id="kitchen__logo">picture</div>#}
{#              </div>#}
{##}
{#              <div id="kitchen_menu_list" class="small-12 medium-12 large-10 columns">#}
{#                  <nav class="k-inner__nav">#}
{#                    <ul>#}
{#                        <li><a href="#" class="k-inner_item">Dishes</a></li>#}
{#                        <li><a href="#" class="k-inner_item">Recipes</a></li>#}
{#                        <li><a href="#" class="k-inner_item">Converstaions</a></li>#}
{#                        <li><a href="#" class="k-inner_item">Followers</a></li>#}
{#                        <li><a href="#" class="k-inner_item">Following</a></li>#}
{#                      </ul>#}
{#                  </nav>#}
{#            </div>#}
{#        </div>#}
{##}
{#      </section>#}
{##}
{#      <!--bottom section --->#}
{#      <section>#}
{#      <div id="bottom" class="expanded row">#}
{##}
{#        <div class="small-12 columns">#}
{#            <div class=" expanded row">#}
{#                <div class="small-12 medium-3 large-2 columns menu">#}
{#                    <nav class="side__nav">#}
{#                        <ul>#}
{#                            <li><a href="#" class="k-side_item1">About</a></li>#}
{#                            <li><a href="#" class="k-side_item">Testimonials</a></li>#}
{#                            <li><a href="#" class="k-side_item">Services</a></li>#}
{#                            <li><a href="#" class="k-side_item">Delivery Areas</a></li>#}
{#                            <li><a href="#" class="k-side_item">Sales</a></li>#}
{##}
{##}
{#                            <!--Buttons -->#}
{#                            <div class="btns">#}
{#                                <li class="btn">#}
{#                                    <a class="button" href="#">Contact Us</a>#}
{#                                </li>#}
{#                            </div>#}
{#                            {% for name in user %}#}
{#                                {% if name != chef.username %}#}
{#                                    {% if not user %}#}
{#                                        <form action="{% url "kitchen:follow" chef.username %}" method="POST">#}
{#                                            {% csrf_token %}#}
{#                                            <input class="button" type="submit" value="follow us" >#}
{#                                        </form>#}
{#                                    {% else %}#}
{#                                        <form action="{% url "kitchen:unfollow" chef.username %}" method="POST">#}
{#                                            {% csrf_token %}#}
{#                                            <input class="button" type="submit" value="un follow" >#}
{#                                        </form>#}
{#                                    {% endif %}#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{#                          </ul>#}
{#                    </nav>#}
{#                </div>#}
{##}
{#                <!------ Kitchen Content ------>#}
{#                <div id="kitchen_content" class="small-12 medium-9 large-10 columns">#}
{#                    <div class="expanded row">#}
{#                        <div id="card1" class="small-6 medium-4 large-2 columns card">#}
{#                            <div class="menu-pic">picture</div>#}
{#                            <div class="menu-details">Menu details</div>#}
{#                        </div>#}
{##}
{#                        <div id="card2" class="small-6 medium-4 large-2 columns card">#}
{#                            <div class="menu-pic">picture</div>#}
{#                            <div class="menu-details">Menu details</div>#}
{#                        </div>#}
{##}
{#                        <div id="card3" class="small-6 medium-4 large-2 columns card">#}
{#                            <div class="menu-pic">picture</div>#}
{#                            <div class="menu-details">Menu details</div>#}
{#                        </div>#}
{##}
{#                        <div id="card4" class="small-6 medium-4 large-2 columns card">#}
{#                            <div class="menu-pic">picture</div>#}
{#                            <div class="menu-details">Menu details</div>#}
{#                        </div>#}
{#                     </div>#}
{#                </div> <!---kitchen content end ---->#}
{#            </div><!---expanded row end -->#}
{#          </div>#}
{#      </div>#}
{#      </section>#}
{#    {% endif %}#}
{#{% endblock %}#}
