{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{{ username }}
<div class="row">
    <br>
    {% if menu_add_form %}
        <form action="{% url "dishi_chef:kitchen:add_menu" username %}" method="POST">
            {% csrf_token %}
            {{ menu_add_form }}
            <input class="button" type="submit" value="add menu">
        </form>
    {% elif menu_edit_form %}
         <form action="{% url "dishi_chef:kitchen:update_menu" username pk%}" method="POST">
            {% csrf_token %}
            {{ menu_edit_form }}
            <input class="button" type="submit" value="add menu">
         </form>
    {% endif %}

    <br>
</div>

{% endblock %}